<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <title></title>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap" style="text-align: center;">
                <h2 class="title" style="color: #1E9FFF">1.填写信息————2.确认及提交————3.完成</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header" style="margin-left:15px;font-size: 18px;color: #1E9FFF">填写信息</div>
                <form class="layui-form layui-card-body">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend style="color: #1E9FFF">付款账户信息</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 付款账户</label>
                        <div class="layui-input-inline" style="width: 40%">
                            <select id="payaccount1" name="account" lay-filter="accountSelect">
                                <option value="">请选择账户</option>
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 币种</label>
                        <div class="layui-input-inline">
                            <select id="currency1" name="currency" lay-verify="required" onchange="getBalance();">
                                <option value="">请选择币种</option>
                                <option value="人民币">人民币</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">可用余额</label>
                        </div>
                        <div class="layui-inline">
                            <h2 id="balance1" name="balance" style="color: #1E9FFF">*****</h2>
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend style="color: #1E9FFF">收款账户信息</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 收款账号</label>
                        <div class="layui-input-inline" style="width: 40%">
                            <input id="recieveaccount1" type="text" name="title" lay-verify="number" autocomplete="off" placeholder="请输入收款人账号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 确认账号</label>
                        <div class="layui-input-inline" style="width: 40%">
                            <input id="comfirmaccount" type="text" name="title" lay-verify="number" autocomplete="off" placeholder="请输入收款人账号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 收款户名</label>
                        <div class="layui-input-inline">
                            <input id="payeename1" type="text" name="payeename" lay-verify="name" autocomplete="off" placeholder="请输入收款人户名" class="layui-input">
                        </div>
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend style="color: #1E9FFF">金额及其他信息</legend>
                    </fieldset>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 转账方式</label>
                        <div class="layui-input-inline">
                            <select id="transferway1" name="Transferway" lay-verify="required">
                                <option value="">请选择转账方式</option>
                                <option value="次日">次日</option>
                                <option value="实时">实时</option>
                                <option value="普通">普通</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">次日2点后发出</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 转账金额</label>
                        <div class="layui-input-inline">
                            <input id="amount1" type="text" name="amount" lay-verify="number" autocomplete="off" placeholder="请输入转账金额" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">金额大写</label>
                        </div>
                        <div class="layui-inline">
                            <h2 id="capitalamount1" name="capitalamount" style="color: #1E9FFF">壹佰圆整</h2>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><a style="color: red">*</a> 交易用途</label>
                        <div class="layui-input-inline">
                            <select id="purpose1" name="purpose" lay-verify="required">
                                <option value="">请选择交易用途</option>
                                <option value="网银转账">网银转账</option>
                                <option value="工资">工资</option>
                                <option value="差旅费">差旅费</option>
                                <option value="劳务费">劳务费</option>
                            </select>
                        </div>
                    </div>
                    <hr class="layui-bg-blue">
                    <div class="layui-form-item">
                        <div style="text-align: center;margin: 20px auto">
                            <button id="information-submit" class="layui-btn-blue layui-btn" lay-submit lay-filter="next">下一步</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div hidden id="nextpage">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body" pad15>
                            <div style="margin: 0 auto; width: 75%">
                                <form class="layui-form" action="" method="post">
                                    <fieldset class="layui-elem-field">
                                        <legend style="color: #1E9FFF">付款账户信息</legend>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">付款账户</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="payaccount2" name="balance" style="color: #1E9FFF">111111111</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">币种</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="currency2" name="balance">人民币</h3>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="layui-elem-field">
                                        <legend style="color: #1E9FFF">收款账户信息</legend>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">收款账号</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="recieveaccount2" name="balance" style="color: #1E9FFF">111111111</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">收款户名</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="payeename2" name="balance">马化腾</h3>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="layui-elem-field">
                                        <legend style="color: #1E9FFF">金额及其他信息</legend>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">转账方式</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="transferway2" name="balance">普通</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">转账金额</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="amount2" name="balance" style="color: #1E9FFF">100.00</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">金额大写</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="capitalamount2" name="capitalamount" style="color: #1E9FFF">壹佰圆整</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-bottom: 0">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width: 100px">交易用途</label>
                                            </div>
                                            <div class="layui-inline">
                                                <h3 id="purpose2" name="capitalamount">网银转账</h3>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 100px"><a style="color: red">*</a> 交易密码</label>
                                            <div class="layui-input-inline">
                                                <input id="transferpassword" type="password" name="transferpassword" lay-verify="number" autocomplete="off" placeholder="请输入交易密码" class="layui-input">
                                            </div>
                                            <div class="layui-form-mid layui-word-aux">请输入6位交易密码</div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="width: 100px"><a style="color: red">*</a> 手机动态密码</label>
                                            <div class="layui-input-inline">
                                                <input id="dynamicpassword" type="text" name="dynamicpassword" lay-verify="number" autocomplete="off" placeholder="请输入手机动态密码" class="layui-input">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="layui-form-item">
                                        <div class="layui-input set-center" style="border: 0px;">
                                            <button id="confirm-submit" lay-submit class="layui-btn-blue layui-btn"
                                                    lay-filter="confirmSubmit">确认
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
        <script src="../assets/layui.all.js"></script>
<script>
    layui.use(['layer', 'form'],function () {
        var form=layui.form;
        var nextIndex;
        form.on('submit(next)',function(){
            var account1 = $("#recieveaccount1").val();
            var account2 = $("#comfirmaccount").val();
            console.log("查询余额");
            if (account1 != account2){
                layer.msg("两个输入账号不相等！");
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/Account/confirmTransfer',
                data: {
                    payaccount:$("#payaccount1 option:selected").val(),
                    currency: $("#currency1 option:selected").val(),
                    recieveaccount: $("#recieveaccount1").val(),
                    payeename: $("#payeename1").val(),
                    transferway: $("#transferway1 option:selected").val(),
                    amount: $("#amount1").val(),
                    purpose: $("#purpose1 option:selected").val()
                },
                dataType: 'json',
                success: function (data) {
                    if(data.success){
                        console.log(data.obj);
                        var transform = data.obj;
                        //TODO 达丞在这里吧data.obj的数据填到确认页面的表里
                        $("#payaccount2").text(transform.payaccount);
                        $("#currency2").text(transform.currency);
                        $("#recieveaccount2").text(transform.recieveaccount);
                        $("#payeename2").text(transform.payeename);
                        $("#transferway2").text(transform.transferway);
                        $("#amount2").text(transform.amount);
                        $("#capitalamount2").text($("#capitalamount1").text());
                        $("#purpose2").text(transform.purpose);
                        //layer.close(editStudentIndex);
                        //init();
                    }
                    else {
                        alert("error")
                    }
                }
            })
            console.log("next");

            nextIndex=layer.open({
                type: 1,
                title: '确认及提交',
                area: ['750px', '450px'],
                content: $('#nextpage'),
            });
            form.render();
            return false;
        });
        form.on('select(accountSelect)', function(data){
            $.ajax({
                type: 'GET',
                url: '/Account/getBalance?account='+data.value,
                success:function (data) {
                    console.log(data.obj);
                    if(data.success){
                        $("#balance1").html(data.obj.balance);

                    }
                }
            })
        });
        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '收款账户不能有特殊字符';
                }
            }
        });
        form.on('submit(confirmSubmit)',function () {
            $.ajax({
                type: 'POST',
                url: '/Account/transfer',
                data: {
                    payaccount:$("#payaccount1 option:selected").val(),
                    currency: $("#currency1 option:selected").val(),
                    recieveaccount: $("#recieveaccount1").val(),
                    payeename: $("#payeename1").val(),
                    transferway: $("#transferway1 option:selected").val(),
                    amount: $("#amount1").val(),
                    purpose: $("#purpose1 option:selected").val(),
                    transferpassword: $("#transferpassword").val(),
                    dynamicpassword: $("#dynamicpassword").val(),
                },
                dataType: 'json',
                success: function (data) {
                    if(data.success){
                        console.log(data.obj);
                        layer.alert("转账成功！")
                        layer.close(nextIndex);
                        window.location.reload();
                    }
                    else {
                        alert("error")
                    }
                }
            })
            return false;
        });
    });
    getAccount();
    function getAccount(){
        console.log("获取账户");
        $.ajax({
            type:'POST',
            url:'/Account/allList',
            success: function (data) {
                if(data.success){
                    var html ="";
                    var datas = data.obj;
                    var obj = null;
                    for(var i = 0 ; i < datas.length ; i ++){
                        obj = datas[i];
                        html += '<option value="'+obj.account+'">'+obj.account+'</option>';
                    }
                    // $("#payaccount1").empty();
                    $("#payaccount1").append(html);
                    renderForm();
                 }

                else {
                    layer.alert(data.msg);
                }

            }
        });
        //绑定输入金额方法
        $("#amount1").keyup(function(){
            num2word();
        });
    }
    //重新渲染表单
    function renderForm(){
     console.log("重新渲染");
    layui.use('form', function(){
    var form = layui.form;
    form.render();
    });
    }
    function num2word(){

        var number = $("#amount1").val();
        var word = DX(number);
        console.log(word);
        $("#capitalamount1").html(word);

    }
   function DX(n) {
         if (!/^(0|[1-9]\d*)(\.\d+)?$/.test(n))
             return "数据非法";
         var unit = "千百拾亿千百拾万千百拾元角分", str = "";
             n += "00";
         var p = n.indexOf('.');
         if (p >= 0)
             n = n.substring(0, p) + n.substr(p+1, 2);
             unit = unit.substr(unit.length - n.length);
         for (var i=0; i < n.length; i++)
             str += '零壹贰叁肆伍陆柒捌玖'.charAt(n.charAt(i)) + unit.charAt(i);
         return str.replace(/零(千|百|拾|角)/g, "零").replace(/(零)+/g, "零").replace(/零(万|亿|元)/g, "$1").replace(/(亿)万|壹(拾)/g, "$1$2").replace(/^元零?|零分/g, "").replace(/元$/g, "元整");
     }
</script>

</html>