<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.venus.dao.StudentDao">     
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
        <resultMap id="BaseResultMap" type="com.venus.domain.Student">  
        <id column="id" property="id" jdbcType="INTEGER" />  
        <result column="name" property="name" jdbcType="VARCHAR" />  
        <result column="classId" property="classId" jdbcType="INTEGER" />  
        <result column="sex" property="sex" jdbcType="VARCHAR" />  
        <result column="birthday" property="birthday" jdbcType="DATE" />  
        <result column="nation" property="nation" jdbcType="VARCHAR" />  
        <result column="status" property="status" jdbcType="INTEGER" />  
        <result column="className" property="className" jdbcType="VARCHAR" />
    </resultMap>  
    <!-- 查询单条记录 -->  
    <select id="selectStudentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">  
        SELECT * FROM student WHERE id = #{id}  
    </select>
    
    <!-- 查询所有记录 -->  
    <select id="selectAllStudent" resultMap="BaseResultMap">  
        SELECT * FROM student WHERE status=1
    </select>  
        <select id="selectStudentByClass" parameterType="java.lang.Integer" resultMap="BaseResultMap">  
            SELECT s.*,c.name as className FROM student s LEFT JOIN class c on s.classId = c.id  WHERE s.status=1 and classId =#{classId}
       </select> 

    <!-- 增加学生信息 -->
    <insert id="addStudent" parameterType="com.venus.domain.Student"
        useGeneratedKeys="true" keyProperty="id">
       INSERT INTO student VALUES(#{id}, #{name}, #{classId}, #{sex}, #{birthday},#{nation},#{status})
    </insert>
    
    <!-- 删除学生信息 -->
    <delete id="deleteStudent" parameterType="com.venus.domain.Student">
      UPDATE student set status=0 WHERE id = #{id}
    </delete>
    
    <!-- 修改学生信息 -->
   <!--   <update id="updateStudent" parameterType="com.venus.domain.Student">
      UPDATE student id = #{id}, name = #{name},
        classId = #{classId}, sex = #{sex}, birthday = #{birthday},nation=#{nation}，status=#{status} WHERE id = #{id}
    </update>-->
    
    <update id="update" parameterType="com.venus.domain.Student">
        update student set
            <if test="name != null ">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="id != null ">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="classId != null ">
                classId = #{classId,jdbcType=INT},
            </if>
            <if test="sex != null ">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null ">
                birthday = #{birthday,dbcType=DATE},
            </if>
            <if test="nation != null ">
                nation = #{nation,jdbcType=VARCHAR}
            </if>
            <if test="status != null ">
                status = #{status,jdbcType=INTEGER},
            </if>
            
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    
</mapper>
    
    
    